
#password,#email,#login{
	margin:0 auto;
	text-align: center;
	max-width: 550px;
    margin-top: 6px;
}

#log,#reg,#back{
	margin:0 auto;
	text-align: center;
	max-width: 350px;
    background-color: darkgreen;
}

#f{
margin-top: 10%;
}